@mixin item_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container-verify {
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    @include item_center;
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
  }
}

.center {
  text-align: center;
}
