.inputs-container {
  width: 100%;
  padding: auto;
  text-align: center;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.three-inputs {
  width: 100%;
  padding: 20px;
  // border: 1px solid blue;
}
